<div id="main" class="flexbox row wrap">
  <!-- ########## cars panel ###########-->
  <div id="cars" class="max-width">
    <h3>Voertuigen</h3>
    <p *ngIf="invoiceService.vehicles == 0">U heeft nog geen voertuigen geregistreerd. Mocht u voertuigen beheren, komen ze hier
      tevoorschijn.</p>
    <div *ngIf="invoiceService.vehicles != 0" class="flexbox column wrap">
      <h5>Filters</h5>
      <div class="flexbox row wrap between">
        <div class="flexbox row wrap"><label for="carFilter" class="self_center">Filter:</label>
          <input id="carFilter" [(ngModel)]="carFiltertje" type="text" placeholder="FilterText">
        </div>
      </div>
      <div class="flexbox row wrap between">
        <p>Kentekenplaat</p>
        <p>Brandstoftype</p>
        <p>TrackerID</p>
        <p>Gewicht</p>
      </div>

      <ng-container *ngFor="let vehicle of invoiceService.vehicles | carFilter: { carFiltertje: carFiltertje}: false">
        <a (click)="chooseCar(vehicle)" class="flexbox row wrap car-entry">
          <div class="flexbox row wrap vehicles between max-width">
            <h3 class="car">{{vehicle.licensePlate}}</h3>
            <p class="car-details">{{vehicle.fueltype}}</p>
            <p class="car-details">{{vehicle.tracker.ID}}</p>
            <p class="car-details">{{vehicle.weight}}kg</p>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
  <!--<div id="invoices" *ngIf="selectedCar != ''">-->
  <!--&lt;!&ndash;<a class="link" (click)="goBack()"> < {{selectedCar.name}}</a>&ndash;&gt;-->
  <!--<app-invoice [selectedCar]="selectedCar"></app-invoice>-->
  <!--</div>-->
</div>
