<div id="main-box">
  <div id="main" class="flexbox row wrap">
    <!-- ########## cars panel ###########-->
    <div id="cars">
      <p *ngIf="!hasVehicles">U heeft nog geen voertuigen geregistreerd. Mocht u voertuigen beheren, komen ze hier
        tevoorschijn.</p>
      <div *ngIf="hasVehicles" class="flexbox column wrap">
        <ng-container *ngFor="let vehicle of vehicles">
          <a (click)="chooseCar(+vehicle.ownerID, +vehicle.trackerID)" class="flexbox row wrap between car-entry">
            <div class="flexbox column wrap">
              <h3 class="car">{{vehicle.name}}</h3>
              <p class="car-details">{{vehicle.licenseplate}} - {{vehicle.classification}}</p>
            </div>
            <h2> > </h2>
          </a>
        </ng-container>
      </div>
    </div>
    <!-- ########## invoice panel ###########-->
    <div id="invoices">
      <p *ngIf="invoices.length == 0">Dit voertuig heeft nog geen facturen. Wanneer u facturen heeft, verschijnen ze hier.</p>
      <div *ngIf="invoices.length != 0" class="flexbox column wrap">
        <ng-container *ngFor="let invoice of invoices">
          <a class="flexbox row wrap between invoice-entry">
            <div class="flexbox column wrap">
              <h3 class="invoice">{{invoice.date | date:'MMM y' }} - FactuurNo. {{invoice.invoiceID}} </h3>
              <p class="invoice-details">Gereden KM:{{invoice.kmAmmount}} - prijs: {{invoice.price}}DKK</p>
            </div>
            <h2> > </h2>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
