#cars {
  width: 100%;
  padding: 5px
}

.car {
  margin: 5px 0px;
}

.car-details {
  margin: 5px 0px;
}

.car-entry, .invoice-entry {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.car-entry:hover, .link {
  cursor: pointer;
}


#cars h3 , #cars h5{
  margin: 0px;
}

a {
  color: #616770;
}

input[type=text], select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
