<div id="main" class="flexbox row wrap">
  <div id="invoices">
    <p *ngIf="invoices.length == 0">Dit voertuig heeft nog geen facturen. Wanneer u facturen heeft, verschijnen ze
      hier.</p>
    <div *ngIf="invoices.length != 0" class="flexbox column wrap invoice-entries">
      <div class="flexbox row wrap invoices">

        <div class="flexbox column wrap">
          <h3>Invoices</h3>
          <div class="flexbox row wrap">
            <input id="invoiceFilter" [(ngModel)]="invoiceFiltertje" type="text" placeholder="Filter...">
          </div>
          <ng-container *ngFor="let invoice of invoices | invoiceFilter: { invoiceFiltertje: invoiceFiltertje}: false">
            <a [ngClass]="{'active': lastInvoice == invoice.invoiceID}" (click)="chooseInvoice(invoice)"
               class="flexbox row wrap between invoice-entry">
              <div class="flexbox column wrap">
                <p class="invoice">{{invoice.date | date:'MMM y' }} - #{{invoice.invoiceID}} </p>
                <p class="invoice-details">{{invoice.kmAmmount}}km - {{invoice.price}} DKK</p>
              </div>

              <div class="flexbox row wrap">
                <!-- add the invoice through a servicecall-->
                <p class="addInvoice" (click)="addInvoice(invoice)"> + </p>
                <p> > </p>
              </div>
            </a>
          </ng-container>
        </div>

        <div class="invoice-panel flexbox column wrap">
          <h3 *ngIf="selectedInvoice == ''">Geen factuur geselecteerd</h3>
          <h3 *ngIf="selectedInvoice != ''">#{{selectedInvoice.invoiceID}}</h3>
          <div id="invoice-details">
            <p *ngIf="selectedInvoice == ''">Factuurdetails verschijnen hier. Selecteer eerst een
              factuur.</p>
            <div *ngIf="selectedInvoice != ''" class="flexbox column wrap">
              <div class="flexbox row wrap detailpanel">
                <div>
                  <p>Datum: {{selectedInvoice.date | date:'MMM y'}}</p>
                  <p>Kentekenplaat: {{selectedInvoice.licenseplate}}</p>
                  <p>Tracker Id: {{selectedInvoice.trackerID}}</p>
                </div>
                <div>
                  <p>Gereden kilometers: {{selectedInvoice.kmAmmount}}</p>
                  <p>Prijs: {{selectedInvoice.price}} DKK</p>

                  <!-- pdf -->
                  <input type="button" class="pdf" value="Download PDF" (click)="downloadPDF(selectedInvoice.invoiceID)">
                </div>
              </div>

              <!-- google maps -->
              <agm-map [latitude]="lat" [longitude]="lng">
                <ng-container *ngFor="let ride of rides">
                  <agm-polyline [strokeColor]="'#2196f3'">
                    <ng-container *ngFor="let point of ride">
                      <agm-polyline-point [latitude]="point.lat" [longitude]="point.lon">
                      </agm-polyline-point>
                    </ng-container>
                  </agm-polyline>
                </ng-container>
              </agm-map>

            </div>
          </div>
        </div>

        <!-- ########## selected invoices panel ###########-->
        <div id="selected_invoices">
          <h3>Geselecteerde facturen</h3>
          <div id="paypal-checkout-btn"></div>
          <p *ngIf="selectedInvoices.length == 0">U heeft nog geen facturen geselecteerd.</p>
          <div *ngIf="selectedInvoices.length != 0" class="flexbox column wrap">
            <ng-container *ngFor="let invoice of selectedInvoices; let index = index" [attr.data-index]="index">
              <a [ngClass]="{ 'active': lastInvoice == invoice.trackerID }"
                 class="flexbox row wrap between invoice-entry">
                <div class="flexbox row wrap center">
                  <div class="flexbox column wrap">
                    <p class="invoice">{{invoice.date | date:'MMM y' }} - #{{invoice.invoiceID}} </p>
                    <p class="invoice-details">{{invoice.kmAmmount}}km - {{invoice.price}} DKK</p>
                    <p class="removeinvoice" (click)="removeInvoice(index)"> - </p>
                  </div>
                </div>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
