.invoices > div:nth-of-type(1) {
  flex: 2;
  min-width: 196px;
}

.invoices > div:nth-of-type(2) {
  flex: 5;
  min-width: 500px;
}

.invoice-entry {
  border-bottom: 1px solid #f2f2f2;
  padding: 5px;
}

.invoice-entry p, .invoices h3, .invoice-panel h3 {
  margin: 0px 5px 0px 5px;
}

.invoice-entry:hover, .addInvoice:hover, .removeinvoice:hover{
  cursor: pointer;
}

.invoice-details {
  font-size: 10px;
  color: #616770;
}

.invoice {
  font-size: 13px;

}

.invoice-panel {
  border-left: 1px solid #f2f2f2;
  padding: 5px;
}

.active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
  border-radius: 5px;
}

.detailpanel > div {
  flex: 1;
}

#selected_invoices {
  flex: 1;
  border-left: 1px solid #f2f2f2;
  padding: 5px;
}

input[type=text], select {
  margin: 5px;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

agm-map {
  height: 500px;
}

.pdf {
  background: #3cd934;
  background-image: -webkit-linear-gradient(top, #3cd934, #2bb863);
  background-image: -moz-linear-gradient(top, #3cd934, #2bb863);
  background-image: -ms-linear-gradient(top, #3cd934, #2bb863);
  background-image: -o-linear-gradient(top, #3cd934, #2bb863);
  background-image: linear-gradient(to bottom, #3cd934, #2bb863);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.pdf:hover {
  background: #2bb863;
  background-image: -webkit-linear-gradient(top, #2bb863, #3cd934);
  background-image: -moz-linear-gradient(top, #2bb863, #3cd934);
  background-image: -ms-linear-gradient(top, #2bb863, #3cd934);
  background-image: -o-linear-gradient(top, #2bb863, #3cd934);
  background-image: linear-gradient(to bottom, #2bb863, #3cd934);
  text-decoration: none;
  cursor:pointer;
}
