<div id="main-box">
  <div id="main" class="flexbox column wrap">
    <form [formGroup]="form" class="center middle loginform flexbox column wrap">
      <h2>Login met uw CPR</h2>
      <div class="form-field flexbox row wrap">
        <label>Username:</label>
        <input name="cpr" formControlName="cpr">
      </div>
      <div class="form-field flexbox row wrap">
        <label>Password:</label>
        <input name="password" formControlName="password"
               type="password">
      </div>
      <div class="form-buttons">
        <button class="button button-primary"
                (click)="login()">Login
        </button>
      </div>
    </form>
  </div>
</div>
